extends layout.jade
block css

block content
  - var query = ( body.hasOwnProperty('query') ) ? body.query : '';

  .container
    h2 Raw query
    .content.half-width
      p Supports block commenting: /-- and --/
      p
        label(for="queryName") Query Name:&nbsp;
        input#queryName(type="text")
        button#saveQuery Save Query
    .content.half-width
      h4 Saved queries
      ul#savedQueries
    form#queryForm(action="/q", method="POST", name="rawQuery")
      textarea#query(name="query", cols="90", rows="15") #{ query }
      br
      label(for="useComma")
        input#useComma(type="checkbox", name="useComma", value="comma")
        | Use comma-separated results.
      input(type="submit", value="Submit")
    br
    if ( err )
      p
        strong= err.err
      pre.error-box= err.sql

    hr
    if ( results )
      if ( layout == 'table' )
        table
          caption Results: <strong style="color: blue">#{ results.length }</strong>
          thead
            tr
              each column, i in columns
                th= column
          tbody
            each result, i in results
              tr
                each value, i in result
                  td= value
      if ( layout == 'comma' )
        textarea(cols="90", rows="15")
          each result, i in results
            each value, i in result
              | #{ value },

  script(type="text/javascript").
    document.getElementById('query').focus();
    document.getElementById('query').addEventListener('keydown', ctrlEnterSubmit );
    document.getElementById('saveQuery').addEventListener('click', saveQuery );

    listQueries();

    function ctrlEnterSubmit( e ) {
      if ( e.ctrlKey && e.keyCode === 13 ) {
        document.getElementById('queryForm').submit();
        return;
      }

      return;
    }

    function saveQuery() {
      var sql  = document.getElementById('query').value;
      var name = document.getElementById('queryName').value;

      setCookie( name, sql );
      document.getElementById('queryName').value = '';

      listQueries();
    }

    function listQueries() {
      var ul = document.getElementById('savedQueries');
      var queries = getAllCookies();

      while ( ul.firstChild ) {
        ul.removeChild( ul.firstChild );
      }

      for ( var key in queries ) {
        var queryName = queries[ key ].queryName;
        var query     = queries[ key ].query;
        var liID      = queryName + key;

        // Create a fragment
        var html = '<li>'
        +   '<button id="' + liID + '" onclick="useQuery(\'' + queryName + '\')">' + queryName + '</button>'
        +   '<button id="' + liID + '-remove" onclick="removeQuery(\'' + queryName + '\')"">Remove</button>'
        + '</li>';
        var li = createFragment( html );

        // Append to ul
        ul.appendChild( li );
      }
    }

    function useQuery( queryName ) {
      document.getElementById('query').value = getCookie( queryName );
    }

    function removeQuery( queryName ) {
      deleteCookie( queryName );
      listQueries();
    }
